__pycache__/

.Rproj.user/
.Rhistory
.Rprofile
.Renviron
.RData
.Rproj.user/
.env
.venv/
.Rproj

data-scripts/scrape/cookies.json
data-scripts/scrape/headers.json
data-scripts/scrape/data
data-scripts/scrape/parse.log

data-scripts/categories/cbfc_scraper.log
data-scripts/categories/raw
