__pycache__/

.Rproj.user/
.Rhistory
.Rprofile
.Renviron
.RData
.Rproj.user/
.env
.venv/
.Rproj
.DS_Store

data-scripts/certificates/parse.log
data-scripts/certificates/.headers.json
data-scripts/certificates/.cookies.json
data-scripts/certificates/raw

data-scripts/categories/cbfc_scraper.log
data-scripts/categories/pipeline.log
data-scripts/categories/raw

data/individual_files
