__pycache__/

.Rproj.user/
.Rhistory
.Rprofile
.Renviron
.RData
.Rproj.user/
.env
.venv/
.Rproj
.DS_Store

scripts/certificates/parse.log
scripts/certificates/.headers.json
scripts/certificates/.cookies.json
scripts/certificates/raw

scripts/categories/cbfc_scraper.log
scripts/categories/pipeline.log
scripts/categories/raw

data/individual_files
